@import "tailwindcss";
@plugin "@tailwindcss/typography";

.cm-editor,
.cm-gutters {
  background-color: #0d0d0d !important;
  border-style: none;
}

.cm-editor.cm-focused {
  outline: none !important;
}

.cm-lineNumbers {
  color: #a34705;
}

.prose strong,
.prose em {
  color: #ff6a00;
}

.prose ul > li::marker,
.prose ol > li::marker {
  color: #ff6a00;
}

.sidebar-component {
  min-width: 300px;
}

.sidebar-component__search input {
  padding: 8px 40px;
}