@import "tailwindcss";
@plugin "@tailwindcss/typography";

.cm-editor,
.cm-gutters {
  background-color: #0d0d0d !important;
  border-style: none;
}

.cm-editor.cm-focused {
  outline: none !important;
}

.cm-lineNumbers {
  color: #a34705;
}